<!-- Google search function -->
<script language="Javascript" type="text/javascript">
  function search_google() {
    var query = document.getElementById("google-search").value;
    window.open("http://google.com/search?q=" + query + "%20site:" + "http://bruceeckel.github.io");
  }
</script>
<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <div class="sidebar-nav-item">
    <a href="{{ site.baseurl }}">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.mindviewinc.com/About/Bruce.php" target="_blank">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.mindviewinc.com" target="_blank">Mindview</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="atom.xml" target="_blank">RSS</a><br/>
    <a href="http://www.AtomicScala.com" target="_blank">Atomic Scala</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.WinterTechForum.com" target="_blank">WTF</a><br/>
    Search: <form onsubmit="search_google()" ><input type="text" id="google-search"></form>
    </div>
    {% for post in site.posts %}
      <a class="sidebar-nav-item" href="{{ post.url }}">{{ post.date | date_to_string }} &raquo; {{ post.title }}</a>
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} Mindview LLC</br>All rights reserved
    </p>
  </div>
</div>
